
img{
	vertical-align:middle;
	margin-right: 5%;
	margin-left: 5%;
}
.nav-logo{
	margin-left: 0;
	margin-right: 0;
	background-image: url("img/originals/nav-Logo.png");
	background-color: #596a7b;
	margin-top: 10%;
	height: 267px;
	width:338px;
}

li{
	list-style-type: none;
}

label.yellow {
	background-color: yellow
}

label.red {
	background-color: red
}

label.green {
	background-color: green
}
hr {
	text:bold
}
