#news{
background-color: none;
height: auto;
width: auto;
float: 100%;
margin-top: 5%;
margin-bottom: 5%;
margin-left: 5%;
margin-right: 5%;
padding-top: 20px;
padding-bottom: 20px;

}

.timendate{
	background-color: white;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	border-top: thick double black;
}

.update{
	background-color: orange;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	border-top: thick double black;
}

li{
	list-style-type: none;
}

label.yellow {
	background-color: yellow
}

label.red {
	background-color: red
}

label.green {
	background-color: green
}
hr {
	text:bold
}