f/* remove codrops styles and reset the whole thing */
#container_demo{
	 text-align: left;
	 margin: 0;
	 padding: 0;
	 margin: 0 auto;
	 font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
}

/** fonts used for the icons **/ 
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a.hiddenanchor{
	display: none;
}
/** The wrapper that will contain our two forms **/
#wrapper{
	/*width: 60%;*/
	right: 0px;
	height: 900px;	
	margin: 0px auto;	
/*	max-width: 500px;*/
	position: relative;	
	
}

.wrapper-index{
	/*width: 60%;*/
	right: 0px;
	height: 900px;	
	margin: 0px auto;	
	max-width: 500px;
	position: relative;	
	
}
/**** Styling the form elements **/

/**** general text styling ****/
#wrapper a{
/*	color: rgb(95, 155, 198);
	text-decoration: underline;*/
}

#wrapper h1{
	
	font-size: 48px;
	color: rgb(6, 106, 117);
	padding: 2px 0 10px 0;
	font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}
/** For the moment only webkit supports the background-clip:text; */
#wrapper h1{

    background: -webkit-repeating-linear-gradient(-45deg, 
	rgb(18, 83, 93) , 
	rgb(18, 83, 93) 20px, 
	rgb(64, 111, 118) 20px, 
	rgb(64, 111, 118) 40px, 
	rgb(18, 83, 93) 40px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
#wrapper h1:after{
	content: ' ';
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0))); 
	background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}

#wrapper p{
	margin-bottom:15px;
}
#wrapper p:first-child{
	margin: 0px;
}
#wrapper label{
	color: rgb(64, 92, 96);
	position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  { 
	color: rgb(190, 188, 188); 
	font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
	color: rgb(190, 188, 188);
	font-style: italic;
} 
input {
  outline: none;
}

/* all the input except submit and checkbox */
#wrapper input:not([type="checkbox"]){
	width: 92%;
	margin-top: 4px;
	padding: 10px 5px 10px 32px;	
	border: 1px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	  -moz-box-sizing : content-box;
	       box-sizing : content-box;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus{
	border: 1px solid rgba(91, 90, 90, 0.7);
	background: rgba(238, 236, 240, 0.2);	
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
} 

/** the magic icon trick ! **/
[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: rgb(106, 159, 171);
    position: absolute;
    left: 10px;
    top: 35px;
	width: 30px;
}

/*styling both submit buttons */
#wrapper p.button input{
	width: 30%;
	cursor: pointer;	
	background: rgb(90, 201, 178);
	padding: 8px 5px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 24px;	
	border: 1px solid rgb(28, 108, 122);	
	margin-bottom: 10px;	
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	   -moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	        box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
#wrapper p.button input:hover{
	background: rgb(74, 179, 198);
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
	background: rgb(40, 137, 154);
	position: relative;
	top: 1px;
	border: 1px solid rgb(12, 76, 87);	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button{
	text-align: right;
	margin: 5px 0;
}


/* styling the checkbox "keep me logged in"*/
.keeplogin{
	margin-top: -5px;
}
.keeplogin input,
.keeplogin label{
	display: inline-block;
	font-size: 12px;	
	font-style: italic;
}
.keeplogin input#loginkeeping{
	margin-right: 5px;
}
.keeplogin label{
	width: 80%;
}


/*styling the links to change from one form to another */

p.change_link{
	position: absolute;
	color: rgb(127, 124, 124);
	left: 0px;
	height: 20px;
	/*width: 440px;*/
	width: auto;
	padding: 17px 30px 20px 30px;
	font-size: 16px	;
	text-align: right;
	border-top: 1px solid rgb(219, 229, 232);
	-webkit-border-radius: 0 0  5px 5px;
	   -moz-border-radius: 0 0  5px 5px;
	        border-radius: 0 0  5px 5px;
/*	background: rgb(225, 234, 235);
	background: -moz-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: -webkit-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: -o-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);*/
}
#wrapper p.change_link a {
	display: inline-block;
	font-weight: bold;
	background: rgb(247, 248, 241);
	padding: 2px 6px;
	color: rgb(29, 162, 193);
	margin-left: 10px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgb(203, 213, 214);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s  linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s  linear;
	transition: all 0.4s  linear;
}
#wrapper p.change_link a:hover {
	color: rgb(57, 191, 215);
	background: rgb(247, 247, 247);
	border: 1px solid rgb(74, 179, 198);

}
#wrapper p.change_link a:active{
	position: relative;
	top: 1px;
}
/** Styling both forms **/
#register, 
#login{
	position: absolute;
	top: 0px;
	width: 100%;	
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	   -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	        box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
		 border-radius: 5px;
}
#register{	
	z-index: 21;
	opacity: 0;
}
#login{
	z-index: 22;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
	z-index: 22;
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	-ms-animation-delay: .1s;
	animation-delay: .1s;
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-ms-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}

/** the actual animation, credit where due : http://daneden.me/animate/ ***/
.animate{
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	
	-o-animation-duration: 0.5s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;
	
	-ms-animation-duration: 0.5s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

/** yerk some ugly IE fixes 'cause I know someone will ask "why does it look ugly in IE?", no matter how many warnings I will put in the article */

.lt8 #wrapper input{
	padding: 10px 5px 10px 32px;
    width: 92%;
}
.lt8 #wrapper input[type=checkbox]{
	width: 10px;
	padding: 0;
}
.lt8 #wrapper h1{
	color: #066A75;
}
.lt8 #register{	
	display: none;
}
.lt8 p.change_link,
.ie9 p.change_link{
	position: absolute;
	height: 90px;
	background: transparent;
}




/*font icons fontastic */

@charset "UTF-8";

@font-face {
  font-family: "untitled-font-2";
  src:url("fonts/untitled-font-2.eot");
  src:url("fonts/untitled-font-2.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-2.woff") format("woff"),
    url("fonts/untitled-font-2.ttf") format("truetype"),
    url("fonts/untitled-font-2.svg#untitled-font-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-2" !important;
/*  content: attr(data-icon);*/
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
/*  line-height: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
/*  line-height:  auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}



.icon-home:before {
  content: "h";
font-size: 1em

}
.icon-projects:before {
  content: "p";
font-size: 1em

}
.icon-friends:before {
  content: "f";
  font-size: 1em
}

.icon-friends-fix:before {
  content: "f";
  margin-left: -27px;
  width: 80px;
  font-size: 1em
}

.icon-project-fix:before {
  content: "f";
  margin-left: -9px;
  width: 67px;
  font-size: 1em
}

.icon-settings:before {
  content: "d";
font-size: 1em

}
.icon-logout:before {
  content: "l";
font-size: 1em

}
.icon-search:before {
  content: "s";
font-size: 1em
}

.friends-nav-icons li{
	height: 60px

}



.v-card{

	background-color: #1abc9c;
	height: 60px;


}

.v-card-div{
	max-width: 80%;
	margin-right: auto;
	margin-left:auto;
}

.v-card a{
	color: white;
	text-decoration: none;
	padding-left: 20px;
	padding-bottom: 10px;
}

.v-car-head{
	padding-top: 10px;
	background-color: #1abc9c;
	height: 60px;
}

.v-card-image{
	margin-left: auto;
	margin-right: auto;
}
.section .content .fullwidth .main  h1{
	color: #1abc9c;
}

/*.section .content .fullwidth .main  h2{
	color: #1abc9c;
}*/

.section .content .fullwidth .main p
{
	text-align: left;
}




.icon-eye:before {
  content: "\e000";
}

.icon-paper-clip:before {
  content: "\e001";
}

.icon-mail:before {
  content: "\e002";
}

.icon-mail:before {
  content: "\e002";
}

.icon-toggle:before {
  content: "\e003";
}

.icon-layout:before {
  content: "\e004";
}

.icon-link:before {
  content: "\e005";
}

.icon-bell:before {
  content: "\e006";
}

.icon-lock:before {
  content: "\e007";
}

.icon-unlock:before {
  content: "\e008";
}

.icon-ribbon:before {
  content: "\e009";
}

.icon-image:before {
  content: "\e010";
}

.icon-signal:before {
  content: "\e011";
}

.icon-target:before {
  content: "\e012";
}

.icon-clipboard:before {
  content: "\e013";
}

.icon-clock:before {
  content: "\e014";
}

.icon-clock:before {
  content: "\e014";
}

.icon-watch:before {
  content: "\e015";
}

.icon-air-play:before {
  content: "\e016";
}

.icon-camera:before {
  content: "\e017";
}

.icon-video:before {
  content: "\e018";
}

.icon-disc:before {
  content: "\e019";
}

.icon-printer:before {
  content: "\e020";
}

.icon-monitor:before {
  content: "\e021";
}

.icon-server:before {
  content: "\e022";
}

.icon-cog:before {
  content: "\e023";
}

.icon-heart:before {
  content: "\e024";
}

.icon-paragraph:before {
  content: "\e025";
}

.icon-align-justify:before {
  content: "\e026";
}

.icon-align-left:before {
  content: "\e027";
}

.icon-align-center:before {
  content: "\e028";
}

.icon-align-right:before {
  content: "\e029";
}

.icon-book:before {
  content: "\e030";
}

.icon-layers:before {
  content: "\e031";
}

.icon-stack:before {
  content: "\e032";
}

.icon-stack-2:before {
  content: "\e033";
}

.icon-paper:before {
  content: "\e034";
}

.icon-paper-stack:before {
  content: "\e035";
}

.icon-search:before {
  content: "\e036";
}

.icon-zoom-in:before {
  content: "\e037";
}

.icon-zoom-out:before {
  content: "\e038";
}

.icon-reply:before {
  content: "\e039";
}

.icon-circle-plus:before {
  content: "\e040";
}

.icon-circle-minus:before {
  content: "\e041";
}

.icon-circle-check:before {
  content: "\e042";
}

.icon-circle-cross:before {
  content: "\e043";
}

.icon-square-plus:before {
  content: "\e044";
}

.icon-square-minus:before {
  content: "\e045";
}

.icon-square-check:before {
  content: "\e046";
}

.icon-square-cross:before {
  content: "\e047";
}

.icon-microphone:before {
  content: "\e048";
}

.icon-record:before {
  content: "\e049";
}

.icon-skip-back:before {
  content: "\e050";
}

.icon-rewind:before {
  content: "\e051";
}

.icon-play:before {
  content: "\e052";
}

.icon-pause:before {
  content: "\e053";
}

.icon-stop:before {
  content: "\e054";
}

.icon-fast-forward:before {
  content: "\e055";
}

.icon-skip-forward:before {
  content: "\e056";
}

.icon-shuffle:before {
  content: "\e057";
}

.icon-repeat:before {
  content: "\e058";
}

.icon-folder:before {
  content: "\e059";
}

.icon-umbrella:before {
  content: "\e060";
}

.icon-moon:before {
  content: "\e061";
}

.icon-thermometer:before {
  content: "\e062";
}

.icon-drop:before {
  content: "\e063";
}

.icon-sun:before {
  content: "\e064";
}

.icon-cloud:before {
  content: "\e065";
}

.icon-cloud-upload:before {
  content: "\e066";
}

.icon-cloud-download:before {
  content: "\e067";
}

.icon-upload:before {
  content: "\e068";
}

.icon-download:before {
  content: "\e069";
}

.icon-location:before {
  content: "\e070";
}

.icon-location-2:before {
  content: "\e071";
}

.icon-map:before {
  content: "\e072";
}

.icon-battery:before {
  content: "\e073";
}

.icon-head:before {
  content: "\e074";
}

.icon-briefcase:before {
  content: "\e075";
}

.icon-speech-bubble:before {
  content: "\e076";
}

.icon-anchor:before {
  content: "\e077";
}

.icon-globe:before {
  content: "\e078";
}

.icon-box:before {
  content: "\e079";
}

.icon-reload:before {
  content: "\e080";
}

.icon-share:before {
  content: "\e081";
}

.icon-marquee:before {
  content: "\e082";
}

.icon-marquee-plus:before {
  content: "\e083";
}

.icon-marquee-minus:before {
  content: "\e084";
}

.icon-tag:before {
  content: "\e085";
}

.icon-power:before {
  content: "\e086";
}

.icon-command:before {
  content: "\e087";
}

.icon-alt:before {
  content: "\e088";
}

.icon-esc:before {
  content: "\e089";
}

.icon-bar-graph:before {
  content: "\e090";
}

.icon-bar-graph-2:before {
  content: "\e091";
}

.icon-pie-graph:before {
  content: "\e092";
}

.icon-star:before {
  content: "\e093";
}

.icon-arrow-left:before {
  content: "\e094";
}

.icon-arrow-right:before {
  content: "\e095";
}

.icon-arrow-up:before {
  content: "\e096";
}

.icon-arrow-down:before {
  content: "\e097";
}

.icon-volume:before {
  content: "\e098";
}

.icon-mute:before {
  content: "\e099";
}

.icon-content-right:before {
  content: "\e100";
}

.icon-content-left:before {
  content: "\e101";
}

.icon-grid:before {
  content: "\e102";
}

.icon-grid-2:before {
  content: "\e103";
}

.icon-columns:before {
  content: "\e104";
}

.icon-loader:before {
  content: "\e105";
}

.icon-bag:before {
  content: "\e106";
}

.icon-ban:before {
  content: "\e107";
}

.icon-flag:before {
  content: "\e108";
}

.icon-trash:before {
  content: "\e109";
}

.icon-expand:before {
  content: "\e110";
}

.icon-contract:before {
  content: "\e111";
}

.icon-maximize:before {
  content: "\e112";
}

.icon-minimize:before {
  content: "\e113";
}

.icon-plus:before {
  content: "\e114";
}

.icon-minus:before {
  content: "\e115";
}

.icon-check:before {
  content: "\e116";
}

.icon-cross:before {
  content: "\e117";
}

.icon-move:before {
  content: "\e118";
}

.icon-delete:before {
  content: "\e119";
}

.icon-menu:before {
  content: "\e120";
}

.icon-archive:before {
  content: "\e121";
}

.icon-inbox:before {
  content: "\e122";
}

.icon-outbox:before {
  content: "\e123";
}

.icon-file:before {
  content: "\e124";
}

.icon-file-add:before {
  content: "\e125";
}

.icon-file-subtract:before {
  content: "\e126";
}

.icon-help:before {
  content: "\e127";
}

.icon-open:before {
  content: "\e128";
}

.icon-ellipsis:before {
  content: "\e129";
}